@model IEnumerable<BikeModel>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Test</title>
</head>
<body>
    @foreach (var brand in Model)
    {
        <h1> @brand.name @brand.bikeBrand.name</h1>
    }
</body>
</html>