@using bikes_bg.Models;

@model IEnumerable<BikeBrand>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Test</title>
</head>
<body>
    @foreach (var brand in Model)
    {
       <h1> @brand.Name</h1>
    }
</body>
</html>