.navIcon {
    position: relative;
    height: 40px;
    width: 40px;
    object-fit: scale-down;
}

.backgroundimage {
    /*background-image: url("/images/background.jpg");*/
    background-repeat: no-repeat;
    background-size: contain;
}

/*.overlay {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}*/

.avatarImage {
    height: 100px;
    width: 100px;
    position: relative;
    object-fit: scale-down;
}

.editAdImage {
    max-height: 100%;
    width: 327.8px;
}

.p-l {
    padding-left: 10px !important;
}

.h6-align {
    justify-content: center !important;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    height: 1px;
    background-color: black;
}

.imageThumbnail {
    position: relative;
    height: 150px;
    width: auto;
    object-fit: scale-down;
}

.ad-price {
    position: absolute;
    bottom: -9px;
    right: -1px;
    float: right;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #343a40;
    border-radius: 10px;
    border-end-end-radius: 5px;
    line-height: 1.5rem
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/*.ad-card {
    width: 250px;
    height: 250px;
    overflow: hidden;
}*/

.emp-ad {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}

.ad-img {
    text-align: center;
}

    .ad-img img {
        width: 300px;
        height: 300px;
        object-fit: scale-down;
    }

    .ad-img .file {
        position: relative;
        overflow: hidden;
        margin-top: -20%;
        width: 70%;
        border: none;
        border-radius: 0;
        font-size: 15px;
        background: #212529b8;
    }

        .ad-img .file input {
            position: absolute;
            opacity: 0;
            right: 0;
            top: 0;
        }

.ad-head h5 {
    color: #333;
}

.ad-head h6 {
    color: #0062cc;
}

.ad-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.ad-view-price {
    font-size: 14px;
    color: #818182;
    margin-top: 5%;
}

    .ad-view-price span {
        color: #495057;
        font-size: 20px;
        font-weight: 600;
    }

.ad-head .nav-tabs {
    margin-bottom: 5%;
}

    .ad-head .nav-tabs .nav-link {
        font-weight: 600;
        border: none;
    }

        .ad-head .nav-tabs .nav-link.active {
            border: none;
            border-bottom: 2px solid #0062cc;
        }

.threeElementsInRow {
    min-width: 18rem;
    max-width: 30.5%;
}

.m-tCustom {
    margin-top: 38px;
}


/*Footer*/

.footerText {
    color: rgba(255, 255, 255, 0.5);
}

.faHover:hover {
        color: #fff !important;
}

.footerLink {
    font-weight: bold;
}

    .footerLink:hover {
        color: #fff !important;
        text-decoration: none;
    }
